In [5]:
class ExpenseTracker:
    
    def __init__(self):
        pass
    

ob1= ExpenseTracker

In [6]:
class ExpenseTracker:
    
    def __init__(self,date,desc,typeE,amt):
        self.date=date
        self.desc=desc
        self.typeE=typeE
        self.amt=amt

In [11]:
ob2 = ExpenseTracker("15thAug","Brunch","debit", "500")
ob2.desc

'Brunch'

In [9]:
ob3=ExpenseTracker("1sAug","salary","credit", "40000")

In [12]:
ob2.__dict__

{'date': '15thAug', 'desc': 'Brunch', 'typeE': 'debit', 'amt': '500'}

In [13]:
ob3.__dict__

{'date': '1sAug', 'desc': 'salary', 'typeE': 'credit', 'amt': '40000'}

getattr(ob2,'amt')

In [14]:
getattr(ob2,'amt')

'500'

In [15]:
getattr(ob2,'bal_amt')

AttributeError: 'ExpenseTracker' object has no attribute 'bal_amt'

In [16]:
hasattr(ob3,"typeE")

True

In [17]:
hasattr(ob3,"type_office")

False

In [18]:
delattr(ob2,"typeE")

In [20]:
ob2.__dict__

{'date': '15thAug', 'desc': 'Brunch', 'amt': '500'}

# ------------------------------------------------------------------------------------------

In [23]:
class Student:
     name = 'Rohan'
     age = 16
s1 = Student()
s2 = Student()
print(s1.name,end=" ")
print(s2.name,end=" ")

Rohan Rohan

In [24]:
class Student:
    pp = 50

s1 = Student()
s1.pp= 58
s2 = Student()
s2.pp = 60
print(s1.pp)

58

In [25]:
class Student:
    name = "Parikh"
    def store_details(self):
        self.age = 60
    def print_details(self):
        print(self.name, end=" ")
        print(self.age)
s = Student()
s.store_details()
s.print_details()

Parikh 60

In [27]:
class Student:
    name = 'Parikh'
    def store_details(self):
        self.age = 60
    def print_age(self):
        print(self.age)
s = Student()
s.store_details()
s1 = Student()
s1.print_age()

AttributeError: 'Student' object has no attribute 'age'

In [2]:
class Student:

    def __init__(self,name,age):
        self.name = "Rohan"
        self.age = 20

    def print_student_details():
        print(self.name, end= " ")
        print(self.age)


s = Student()
s.print_student_details()

TypeError: __init__() missing 2 required positional arguments: 'name' and 'age'

In [4]:
class Student:
    def __init__(self,name,age):
        self.name = 'Rohan'
        self.age = 20

    def print_student_details():
        print(self.name, end= " ")
        print(self.age)
s = Student("Parikh",25)
s.print_student_details()

Rohan 20

In [5]:
class Student:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def print_student_details(self):
        print(self.name, end= " ")
        print(self.age)

s = Student('Rohan',60)
s.print_student_details()

Rohan 60

In [29]:
class Student:
      def __init__(self,name,age):
          self.name = name
          self.age = age
    
      def print_student_details():
          print(self.name, end=" " )
          print(self.age)
            

      @staticmethod
      def isTeen(age):
            return age>16

a = Student.isTeen(18)
print(a)

True

In [32]:
class Student:
    def __init__(self,name,age):
        
        self.__name = name
        self.age = age
        
    
    def print_student_details():
        print(self.__name, end= " ")
        print(self.age)

        
s = Student("Rohan",20)
print(s.name)

AttributeError: 'Student' object has no attribute 'name'

In [33]:
class Student:
    def __init__(self,name,age):
        self.__name = name
        self.age = age
    
       
    def print_student_details(self):
        print(self.__name, end= 
             ' ')
        print(self.age)
s = Student("Rohan",20)
s.print_student_details()

Rohan 20

# ---------------------------------------------------------------------------------------------------------------

In [43]:
class ExpenseTracker:
    #class attribute
    expense_tracker_version=0.1
    
    
    def __init__(self, Name, typeEx, amount):
        #instance /object attributes
        
        #public attribute        
        self.Name=Name
        
        #private
        self.__typeEx=typeEx
        self.__amount=amount
        
    
    #instance method 
    #private method
    def __get_detailsEx(self):
        return self.amount
    
   #instance  method
    def check_amount(self,limit=1000):
        if self.amount >= limit:
            return True
        
        else:
            return "Low opening balance"
        
    @staticmethod
    def convert_amount(amount):
        return float(amount)
    
    #Factory method
    @classmethod
    
    def get_attr_fromstring(cls, entry:str):
        Name, typeEx, amount = entry.split(" ")
        
        return ExpenseTracker(Name.capitalize(),
                             typeEx.capitalize(),
                             cls.convert_amount(amount))

In [49]:
home=ExpenseTracker('shivani','food',500)

In [50]:
#accessing public attribute
home.Name

'shivani'

In [52]:
#accessing private attribute should not work but is working wrog output
home.typeEx

'food'

In [53]:
home.__dict__

{'Name': 'shivani', 'typeEx': 'food', 'amount': 500}

In [45]:
cobj= ExpenseTracker.get_attr_fromstring("shivani shopping 5000")

In [46]:
cobj.__dict__

{'Name': 'Shivani', 'typeEx': 'Shopping', 'amount': 5000.0}

In [47]:
cobj.Name

'Shivani'

In [38]:
o1=ExpenseTracker('abc','home',1050)

In [39]:
o1.get_detailsEx()

1050

In [42]:
o1.convert_amount(1111)

1111.0

In [25]:
o1.check_amount()

True

In [26]:
o1.check_amount(limit=1500)

'Low opening balance'